[submodule "nvtree"]
	path = nvtree
	url = https://github.com/schloing/nvtree.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "nng"]
	path = nng
	url = https://github.com/nanomsg/nng.git
	branch = stable
