*.o
nv
.DS_STORE
.vscode/
valgrind
deps.mk
Makefile
CMakeFiles/
bin/
CMakeCache.txt
build/
build.ninja
cmake_install.cmake
massif.out
.ninja_deps
.ninja_log
compile_commands.json
.cache
*.gitignore
*.dylib
*.so
*.dll
CPackConfig.cmake
CPackSourceConfig.cmake
CPackConfig-*.cmake