*.o
nv
.DS_STORE
.vscode/
valgrind
deps.mk
Makefile
CMakeFiles/
bin/
CMakeCache.txt
build/
build.ninja
cmake_install.cmake
massif.out
test/hundred_million.txt
.ninja_deps
.ninja_log
NOTES
compile_commands.json