[submodule "nvtree"]
	path = nvtree
	url = https://github.com/schloing/nvtree.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "yyjson"]
	path = yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "nng"]
	path = nng
	url = https://github.com/nanomsg/nng.git
[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
